<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/general :: head"></div>

  <title th:text="'Détails ' + ${title}"></title>
</head>

<body>
<header>
  <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card border-dark mb-3">
        <div class="card-body">
          <h1 class="card-title" th:text="'Détails de l' + ${title}"></h1>

          <!-- Tableau des détails-->
          <table class="table table-dark table-responsive-md" th:object="${object}">

            <div th:replace="${fragment} :: detailsTable"></div>

          </table>


          <!-- Boutons d'actions -->
          <a role="button" class="btn btn-primary" th:href="@{'/' + ${URL} + '/edition'(id=${object.id})}">Éditer</a>
          <a role="button" class="btn btn-danger" th:href="@{'/' + ${URL} + '/delete'(id=${object.id})}">Supprimer</a>

        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>