<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <div th:replace="fragments/general :: head"></div>

  <title th:text="'Édition ' + ${title}"></title>
</head>

<body>
<header>
  <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card border-dark mb-3">
        <div class="card-body">
          <h1 class="card-title">Édition de l' <span th:text="${title}"></span></h1>
          <form action="editionTopo.html" th:action="@{'/' + ${URL} + '/edition/{id}'(id=*{id})}" th:object="${object}" method="post">
            <div th:hidden="${object.id}"></div>
            <div th:replace="${fragment}::form"></div>
            <button type="submit" class="btn btn-primary">Modifier</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>