<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="form">
  <div class="form-group row">
    <label class="col-6 col-form-label" for="firstName">Prénom</label>
    <input class="col-6 form-control" type="text" id="firstName" th:field="*{firstName}">
  </div>
  <div class="form-group row">
    <label class="col-6 col-form-label" for="lastName">Nom de famille</label>
    <input class="col-6 form-control" type="text" id="lastName" th:field="*{lastName}" required>
  </div>
</th:block>

<th:block th:fragment="table">
  <table class="table table-dark table-responsive-md">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom de famille</th>
      <th scope="col">Plus d'informations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author, iter : ${objectList}">
      <td scope="row" th:hidden="${author.id}"></td>
      <th th:text="${iter.count}"></th>
      <td th:text="${author.firstName}"></td>
      <td th:text="${author.lastName}"></td>
      <td class="justify-content-center">
        <a role="button" class="btn btn-primary"
           th:href="@{/authors/details(id=${author.id})}">Details</a>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>

<th:block th:fragment="detailsTable">
  <thead>
  <tr>
    <th th:hidden="*{id}"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Prénom</th>
    <td th:text="*{firstName}"></td>
  </tr>
  <tr>
    <th scope="row">Nom de famille</th>
    <td th:text="*{lastName}"></td>
  </tr>
  </tbody>
</th:block>


</html>