<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<th:block th:fragment="table">
  <table class="table table-dark table-responsive-md">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Éditeur</th>
      <th scope="col">Date de publication</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="copy, iter : ${objectList}">
      <td scope="row" th:hidden="${copy.id}"></td>
      <th th:text="${iter.count}"></th>
      <td th:text="${copy.publisherName}"></td>
      <td th:text="${copy.publicationDate}"></td>
      <td class="justify-content-center">
        <a role="button" class="btn btn-primary"
           th:href="@{/copies/(id=${copy.id})}">Details</a>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>

<th:block th:fragment="detailsTable">
  <thead>
  <tr>
    <th th:hidden="*{id}"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Nombre d'exemplaire</th>
    <td th:text="*{copies}"></td>
  </tr>
  <tr>
    <th scope="row">Éditeur</th>
    <td th:text="*{publisherName}"></td>
  </tr>
  <tr>
    <th scope="row">Date de publication</th>
    <td th:text="*{publicationDate}"></td>
  </tr>
  <tr>
    <th scope="row">Livre</th>
    <td th:text="*{book.title}"></td>
  </tr>
  <tr>
    <th scope="row">Genre</th>
    <td th:text="*{type.name}"></td>
  </tr>
  </tbody>
</th:block>


</html>