<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<th:block th:fragment="form">
  <div class="form-group row">
    <label class="col-6 col-form-label" for="name">Nom</label>
    <input class="col-6 form-control" type="text" id="name" th:field="*{name}" required>
  </div>
</th:block>

<th:block th:fragment="table">
  <table class="table table-dark table-responsive-md">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Plus d'informations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type, iter : ${objectList}">
      <td scope="row" th:hidden="${type.id}"></td>
      <th th:text="${iter.count}"></th>
      <td th:text="${type.name}"></td>
      <td class="justify-content-center">
        <a role="button" class="btn btn-primary"
           th:href="@{/types/details(id=${type.id})}">Details</a>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>

<th:block th:fragment="detailsTable">
  <thead>
  <tr>
    <th th:hidden="*{id}"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">nom</th>
    <td th:text="*{name}"></td>
  </tr>
  </tbody>
</th:block>


</html>