<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <div th:replace="fragments/general :: head"></div>
  <title>Book</title>
</head>

<body>
<header>
  <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card border-dark mb-3">
        <div class="card-body">
          <h1 class="card-title">Détails du Topo</h1>


          <!-- Tableau des détails-->
          <table class="table table-dark table-responsive-md" th:object="${book}">
            <thead>
            <tr>
              <th th:hidden="*{id}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Titre</th>
              <td th:text="*{title}"></td>
            </tr>
            <tr>
              <th scope="row">Collection</th>
              <td class="topoDescription" th:text="*{collection}"></td>
            </tr>
            <tr>
              <th scope="row">Summary</th>
              <td th:text="*{summary}"></td>
            </tr>
            <tr>
              <th scope="row">Disponibilité</th>
              <td th:text="*{language}"></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>