<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/general :: head"></div>

  <title th:text="'Détails ' + ${title}"></title>
</head>

<body>
<header>
  <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">

  <!-- Afficher tableau du livre -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card border-dark mb-3">
        <div class="card-body">
          <h1 class="card-title" th:text="'Détails de l' + ${title}"></h1>

          <!-- Tableau des détails-->
          <table class="table table-dark table-responsive-md" th:object="${book}">
            <thead>
            <tr>
              <th th:hidden="*{id}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Titre</th>
              <td th:text="*{title}"></td>
            </tr>
            <tr>
              <th scope="row">Collection</th>
              <td th:text="*{collection}"></td>
            </tr>
            <tr>
              <th scope="row">Résumé</th>
              <td th:text="*{summary}"></td>
            </tr>
            <tr>
              <th scope="row">Langage</th>
              <td th:text="*{language}"></td>
            </tr>
            <tr>
              <th scope="row">Date de parution</th>
              <td th:text="*{publicationDate}"></td>
            </tr>
            </tbody>
          </table>


          <!-- Boutons d'actions -->
          <a role="button" class="btn btn-primary" th:href="@{'/' + ${URL} + '/edition'(id=${object.id})}">Éditer</a>
          <a role="button" class="btn btn-danger" th:href="@{'/' + ${URL} + '/delete'(id=${object.id})}">Supprimer</a>

        </div>
      </div>
    </div>
  </div>

  <!-- Afficher les exemplaires -->
  <div class="row">
    <div class="col-12">
      <div class="card border-dark mb-3">
        <div class="card-body">
          <h1 class="card-title">Exemplaires</h1>
          <p class="card-text" th:if="${copiesList.isEmpty()}">Pas d'exemplaires</p>

          <p class="card-text">
          <table class="table table-dark table-responsive-md">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre d'exemplaire disponible</th>
              <th scope="col">Éditeur</th>
              <th scope="col">Date de publication</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="copy, iter : ${copiesList}">
              <th scope="row" th:hidden="${climbingSite.id}"></th>
              <th scope="row" th:text="${iter.count}"></th>
              <td th:text="${copy.copies}"></td>
              <td th:text="${copy.publisherName}"></td>
              <td th:text="${copy.publicationDate}"></td>
              <td>
                <a role="button" class="btn btn-primary"
                   th:href="@{/climbing-site/details(id=${climbingSite.id})}">Details</a>
              </td>
            </tr>
            </tbody>
          </table>
          <div th:if="${copiesList.isEmpty()}" th:text="'Aucun exemplaire'"></div>

        </div>
      </div>
    </div>
  </div>


</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>